<div class="example-boundary">
  <div class="example-box" cdkDragLockAxis="y" cdkDragBoundary=".example-boundary" cdkDrag (cdkDragEnded)="onDragEnded($event,'Add')">
    Add
  </div>
  <div class="example-box" cdkDragLockAxis="y" cdkDragBoundary=".example-boundary" cdkDrag (cdkDragEnded)="onDragEnded($event,'Sub')">
    Sub
  </div>
  <div class="example-box" cdkDragLockAxis="y" cdkDragBoundary=".example-boundary" cdkDrag (cdkDragEnded)="onDragEnded($event,'Foo')">
    foo
  </div>
  <div class="example-box" cdkDragLockAxis="y" cdkDragBoundary=".example-boundary" cdkDrag (cdkDragEnded)="onDragEnded($event, 'doSO')">
    doSomething
  </div>
  <div class="drop-box"> 
    <div class="center-div" *ngIf="isAdd">
      <span class="item-margin">Add</span>
      <input class="item-margin" type="number">
      <input type="number">
    </div>
    <div class="center-div" *ngIf="isSub">
      <span class="item-margin">Sub</span>
      <input class="item-margin" type="number">
      <input type="number">
    </div>
    <div class="center-div" *ngIf="isFoo">
      <span class="item-margin">Foo</span>
      <input type="text">
    </div>
    <div class="center-div" *ngIf="isDoSo">
      <span class="item-margin">doSoemthing</span>
      <input type="text">
    </div>
  </div>
</div>